/* färger för sidan  */

/* lightmode */
:root {
    --gradient: linear-gradient(45deg, #f8e71c, #ff6b6b);
    --background-color: #FBF4DB;
    --text-color: black;
    --primary-color: #AA5486;
    --secondary-color: #FC8F54;
    --border-color: #FDE7BB; 
}

/* Darkmode */
/* @media (prefers-color-scheme: dark) {
    :root {
        --gradient: linear-gradient(45deg, #ff6b6b, #f8e71c);
        --background-color: #121212;
        --text-color: #e0e0e0; 
        --primary-color: #bb86fc;
        --secondary-color: #03dac6;
        --border-color: #333;
    }
} */