section.home-page{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bold;
    padding-top: 50px;
    margin-top: 100px;
    height: 100vh;
}

.profile_photo{
    border-color: var(--gradient);
    display: flex;
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    border: solid var(--gradient);
}



